.us{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#aboutUs{
    height: 100vh;
    text-align: center;
    align-items: center;
    display: flex;
    flex-wrap: nowrap;
    margin-top:50px;
}

main{
    background-color: #4FBFFF;
}

.us h2, .us p {
    text-align: center;
}

.us p {
    height: 200px;
    width: 30vw;
    flex:1;
}

.us img{
    height: 20vh;
    border-radius: 20px;
    flex:1;
}

header{
    margin-bottom:30px;
}


